.about-content {
  text-align: center;
  padding: 80px 0;
}

.section-text {
  display: block;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.title-content {
  text-align: center;

  &__subtitle {
    margin-bottom: 20px;
  }
}

.work-container {
  padding: 80px 0;
}
.work-content {
  &__section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 90px;
  }

  &__item {
    flex: 0 0 25%;
    margin-bottom: 5px;
    margin-right: 2px;
    max-width: calc(25% - 2px);

    @include breakpoints(sm) {
      flex: 0 0 100%;
      margin-right: 0;
      max-width: 100%;
    }

    &-wrap {
      height: 0;
      padding-bottom: 75%;
      position: relative;
      overflow: hidden;
    }

    &-img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
    }
  }
}

.team-container {
  text-align: center;
  padding: 80px 20px;
}
.team-section {
  display: flex;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;

  @include breakpoints(sm) {
    flex-wrap: wrap;
  }
}

.team-item {
  flex: 1 1 33.33%;
  max-width: 33.33%;
  text-align: left;
  background-color: #f9f9f9;
  margin-right: 5px;

  @include breakpoints(sm) {
    flex: 1 1 100%;
    max-width: 100%;
  }

  &__content {
    margin: 0 15px;
  }

  &__subtitle {
    padding: 20px 0;
  }

  &__title {
    font-size: 21px;
    line-height: 24px;
    color: $footer-text;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    color: $text-color;
    font-weight: 300;
    display: block;
    margin-bottom: 45px;
  }

  &-wrap {
    height: 0;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
  }

  &-img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
  }
}
.contact-container {
  padding: 80px 20px;
  text-align: center;
  font-display: block;
}
.contact-content {
  @include fcc;

  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 50px 0 80px;

  &__section {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 385px;
    height: 100%;
    text-align: left;

    @include breakpoints(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &-wrap {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      overflow: hidden
    }

    &-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      max-width: none;
    }

    &:last-child {
      padding: 40px;
      color: $footer-text;
      background-color: #f9f9f9;
    }

    &-subtitle {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &-title {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 40px;
    }

    &-text {
      font-weight: 300;
      line-height: 18px;
      display: block;
      margin-bottom: 50px;
    }
  }
}
