.header-wrap {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	@include breakpoints(md) {
		display: none;
	}


	&__mob {
		display: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		@include breakpoints(md) {
			display: block;
		}
	}
}
.header-main {
	position: relative;
	height: 100vh;
	min-height: 500px;
	text-align: center;
}

.header-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	padding: 0;
}

.header-nav {
	display: flex;
	align-items: center;
	padding: 30px 20px ;
	z-index: 10;
	width: 100%;


	@include breakpoints(md) {
		padding: 20px;
		position: fixed;
		background-color: rgba(2,23,37, .7);
	}
}
.header-logo {
	cursor: pointer;
	z-index: 10;
}

.header-menu {
	color: $background-color;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	margin-left: auto;


	&__text {
		margin-right: 5px;
		cursor: pointer;
		text-transform: uppercase;
		z-index: 10;
		font-weight: 600;
		font-size: 16px;
		display: block;
		align-items: center;

		@include breakpoints(md) {
			display: none;
		}
	}

	&__btn {
		z-index: 10;
		position: relative;

		@include breakpoints(md) {
			margin-right: 20px;
		}
	}
}

.header-navigation {
	@include fcc;
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 300px;
	background-color: rgba(2,23,37, .7);
	transform: translateY(-100%);
	right: 0;
	top: 0;
	z-index: 1;
	transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);


	@include breakpoints(md) {
		max-width: 100%;
	}

	&.active {
		transform: translateY(0);
	}

	&__link {
		color: $background-color;
		font-size: 16px;
		transition: all 0.3s ease-in-out;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px;

		@include breakpoints(sm) {
			font-size: 20px; 
		}

		&::before,
		&::after {
			transition: all 0.5s ease;
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			background: $background-color;
			bottom: 0;
		}

		&::before {
			left: 50%;
		}

		&::after {
			right: 50%;			
		}

		&:hover {

			&::before,
			&::after {
				width: 50%;
			}
		}
	}

	&__element {
		display: block;
		margin-bottom: 45px;
	}
}
.header-content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 1 auto;

	&__text {
		font-size: 80px;
		line-height: 84px;
		font-style: italic;
		font-weight: 300;
		color: $background-color;
		display: flex;
		align-self: flex-end;

		@include breakpoints(sm) {
			font-size: 50px;
			line-height: 56px;
		}
	}

	&__btn {
		align-self: flex-end;
		width: 100%;
		margin-bottom: 30px;

		@include breakpoints(sm) {
			margin-bottom: 30px;
		}
	}

	&__scroll {
		display: flex;
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid $background-color;
		max-width: 50px;
		width: 100%;
		height: 50px;
		align-self: flex-end;
		opacity: 60%;
		position: relative;
		margin: 0 auto;

			@include breakpoints(sm) {
				align-self: flex-end;
			}

			&:hover {
				opacity: 100%;

				&::before {
					animation-name: slidein;
					animation-duration: 1.5s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					font-size: 24px;

					@keyframes slidein {
						  from {
						    top: 20%;
						    opacity: 0%
						  }

						  to {
						    top: 50%;
						    opacity: 100%    
						}
					}
				}	
			}

		&::before {
			content: '\e807';
			font-family: 'fontello'; 
			position: absolute;
			color: $background-color;
			font-size: 24px;
			top: 15px;
			left: 12px;
		}
	}
}		

