.btn {
	border: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
  border-radius: 0;
}

.btn-main {
  border: 1px solid $border-color;
  padding: 10px 45px;
  color: $border-color;
  text-align: center;
  transition: all .3s ease-in;
  background-color: transparent;
  max-height: 45px;

  &:hover {
    background-color: $subtitle-color;
    border: 1px solid $subtitle-color;
    color: $footer-text;
    text-decoration: none;
  }
}