$main-font: "Open Sans";
$title-color: #747a7f;
$background-color: #ffffff;
$subtitle-color: #d4af37;
$border-color: #000000;
$text-color: #021725;
$footer-text: #505d68;
$subbackground: #f9f9f9;
$blog-title: #4c5a64;
