$main-font: "Catamaran";
$secondary-font: "Muli";
$nav-font: "Myriad Pro";
$bg-color: #f7f7f7;
$white: #fefefe;
$black-1: #2f2f2f;
$black-2: #2b2b2b;
$black-3: #333333;
$gray-1: #565656;
$gray-2: #d1d8df;
$orange: #ff660d;
